Repository hakienit1402/React18-codebase: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

chore: clarify storybook-static ignore in .gitignore
  .github/workflows/ci.yml
  .gitignore
  .storybook/main.ts
  package.json
Due: prettier --write, eslint --fix

chore(storybook): format .storybook/main.ts with Prettier
  .storybook/main.ts
Due: prettier --write, eslint --fix

ci(gitlab): add GitLab CI pipeline to mirror ci:check and builds
  .gitlab-ci.yml
Due: none

build(docker,k8s): harden image, switch to runtime VITE_* env injection; add K8s manifests and docs; tweak nginx cache for env.js
  Dockerfile
  deploy/90-inject-runtime-env.sh
  deploy/README.md
  deploy/k8s/deployment.yaml
  deploy/k8s/ingress.yaml
  deploy/k8s/service.yaml
  deploy/nginx/nginx.conf
  index.html
Due: none

build(docker): switch to single custom entrypoint for runtime env generation; remove need for /docker-entrypoint.d script
  Dockerfile
  deploy/entrypoint.sh
Due: none

feat: add i18n (i18next), MSW for tests/Storybook, bundle analyzer, Cypress e2e script; update CI for e2e; tweak Storybook preview
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .storybook/preview.css
  .storybook/preview.ts
  package-lock.json
  package.json
  src/i18n/index.ts
  src/main.tsx
  src/mocks/handlers.ts
  src/test/setup.ts
  vite.config.ts
Due: prettier --write, eslint --fix

ci: add Docker image build pipeline (GHCR + GitLab) and docs for split-repo k8s consumption
  .github/workflows/docker.yml
  .gitlab-ci.yml
  README.md
Due: none

chore(deploy): remove k8s/infra deploy artifacts; keep local Docker build only; inline nginx config and entrypoint in Dockerfile
  Dockerfile
  deploy/90-inject-runtime-env.sh
  deploy/README.md
  deploy/entrypoint.sh
  deploy/env.template.js
  deploy/k8s/deployment.yaml
  deploy/k8s/ingress.yaml
  deploy/k8s/service.yaml
  deploy/nginx/nginx.conf
Due: prettier --write, eslint --fix

feat(env): prefer .env.local for Vite in dev; fallback to window._env_ at runtime; update README; adjust WS/API resolution
  README.md
  src/services/apis/apiConfig.ts
  src/services/ws/WebSocketService.ts
Due: prettier --write, eslint --fix

chore(ci): remove GitHub Actions and GitLab CI configs for local-only setup
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .gitlab-ci.yml
Due: none

feat(observability): add Sentry + LogRocket hooks with redaction and env toggles; feat(auth): add OIDC env config and pluggable adapters; fix(ApiClient usage)
  package.json
  src/domains/auth/constants/authConstants.ts
  src/domains/auth/services/api.ts
  src/main.tsx
  src/observability/index.ts
Due: prettier --write, eslint --fix

feat(i18n): add language detector and example namespaces; feat(flags): add feature-flag provider with Unleash/LD adapters and gate component
  package.json
  src/features/flags/FeatureFlagProvider.tsx
  src/features/flags/adapters/launchdarkly.ts
  src/features/flags/adapters/unleash.ts
  src/i18n/index.ts
Due: prettier --write, eslint --fix

feat(flags): wire FeatureFlagProvider in app tree; add Storybook demo; feat(i18n): add language detector and extra namespace
  src/components/FlagsDemo/index.stories.tsx
  src/features/flags/FeatureFlagProvider.tsx
  src/main.tsx
Due: prettier --write, eslint --fix

feat(i18n+flags): translate AppHeader title via i18n and gate beta badge by FF_BETA_BADGE flag
  src/components/AppHeader/index.tsx
Due: prettier --write, eslint --fix

chore(dev): set Vite dev server to port 5173 (non-strict)
  vite.config.ts
Due: prettier --write, eslint --fix

fix(css): remove missing bg images; use fallback background colors
  src/styles/index.css
Due: prettier --write

chore: remove optional observability bootstrap from main for local simplicity
  src/main.tsx
Due: prettier --write, eslint --fix

chore: remove observability deps (@sentry/react, logrocket)
  package-lock.json
  package.json
Due: none

chore: local dev ready (env, port 5173), remove observability, fix missing bg images); build verified
  src/observability/index.ts
Due: prettier --write, eslint --fix

chore(nginx): extract NGINX config to deploy/nginx/app.conf; keep Dockerfile concise
  Dockerfile
  deploy/nginx/app.conf
Due: none

chore(deploy): extract runtime env injection to deploy/entrypoint.sh and reference from Dockerfile
  Dockerfile
  deploy/entrypoint.sh
Due: none

chore(build): add size budget script and lower chunk warning limit
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore(scaffold): add scripts to rename project and generate .env.local
  package.json
  scripts/gen-env.mjs
  scripts/rename-project.mjs
Due: none

docs: simplify and update README (runtime envs, scaffolding, dev ports, docker)
  README.md
Due: none

docs: rewrite README in concise English (features, runtime env, scripts, docker, dev)
  README.md
Due: none

chore: enforce pre-commit formatting (husky) and add basic Cypress smoke test
  .husky/pre-commit
  cypress/e2e/smoke.cy.ts
Due: prettier --write, eslint --fix

chore(auth): remove LoginPage placeholder and revert barrel export
  README.md
  scripts/rename-project.mjs
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,css,scss}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
